# General
.DS_Store
Thumbs.db
*.log
.env
.env.*

# Node / Frontend
node_modules/
dist/
build/
.vite/
*.tsbuildinfo



# IDE
.vscode/
.idea/
*.iml
.project
.classpath
.settings/

# OS
*.swp
*.swo

# Uploads / Temp
uploads/
tmp/
temp/

# Database
*.db
*.sqlite

# Secrets
application-secret.properties